---
import { HeroSlider1, HeroSlider2, HeroSlider3,HeroSliderVaporesso } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
---

<Layout
    title="BEAST DISTRIBUTION | Homepage"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        <Hero
            client:load
            heroType="fullPageSlider"
            data={[
                {
                    subtitle: "Vape - Delta - Smokeshop",
                    title: "THE BEAST ADVANTAGE",
                    background: HeroSlider1.src,
                    paragraph:
                        "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
                    button: {
                        text: "Take a look",
                        link: "/safezone",
                    },
                },
                {
                    subtitle: "Move Beyond Ordinary",
                    title: "vaporesso",
                    background: HeroSliderVaporesso.src,
                    paragraph:
                        "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
                    button: {
                        text: "Take a look",
                        link: "/vaporesso",
                    },
                },
                {
                    subtitle: "Spark Your Life",
                    title: "voopoo",
                    background: HeroSlider3.src,
                    paragraph: "",
                    button: {
                        text: "Take a look",
                        link: "/voopoo",
                    },
                },
            ]}
        />
    </main>
</Layout>
